.App_header{
    margin-top : 50px;
    background-color: gray;
    display: block;
}
.App_header_mainbox{
    background-color: white;
    width: 50%;
    display : inline-flex;
    text-align: center;
    flex-wrap: wrap;
}

.App_header_mainbox .mainbox_left{
    width: 50%;
}
.App_header_mainbox .mainbox_left img{
    margin: 0px auto;
    max-width: 90%;
}
.App_header_mainbox .mainbox_right{
    margin-top :auto;
    margin-bottom: auto;
    text-align: left;
    max-width: 45%;
    max-height : 60vh;
    margin-left: 5%;

}
.App_header_mainbox .mainbox_right h3, h4, p{
    font-size : 1vw;
    color : #182153;
    font-weight : normal;
    margin : 0px;
}

.mainbox_bottom{
    width : 100%;
    padding-top : 1%;
    display : flex;
    flex-direction: row;
    justify-content: center;
}
.mainbox_bottom div{
    margin-left: 2%;
}

A:link {text-decoration: none; color: #646464;}
A:visited {text-decoration: none; color: #646464;}
A:active {text-decoration: none; color: #646464;}
A:hover {color: darkorchid;}