.project_container{
    margin-top: 10%;
    text-align: center;
}
.project_row{
    margin-left: auto;
    margin-right : auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project_data{
    display : flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom : 8%;
    padding-bottom: 2%;
    border-bottom: 2px dotted purple;
}   
.project_img img{
    border-radius: 17px;
}
.project_info{
    display : flex;
    flex-direction : column;
    text-align: left;
    margin-left : 2%;
    justify-content : space-between;
    padding-bottom: 1%;
}

h3{ margin-top: 0;}